* {
    margin: 0;
    padding: 0;
}

#header {
    width: auto;
    height: 100px;
    background-color: #C3C9D5;
    margin-bottom: 10px;
}

#text {
    resize: none;
}

#button_for_test {
  width:auto;
  text-align:center;
  display:block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border: #1071FF 1px solid;
  color: #1071FF;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
   margin: 20px auto;
  transition: .5s;
  border-radius: 0px;
}
#button_for_test:hover {
  top: 5px;
  transition: .5s;
  color: #10FF58;
  border: #10FF58 1px solid;
  border-radius: 10px;
}
#button_for_test:active {
  color: #000;
  border: #1A1A1A 1px solid;
  transition: .07s;
  background-color: #FFF;
}

#container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.response {
    display: flex;
    align-items: center;
    gap: 10px;
}