<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <div id="header"><img src="https://i.pinimg.com/originals/87/e0/00/87e000cdacea44cabfe0c5b2c79cb893.png" style="width: 100px; object-fit: cover;"></div>
</head>
<body style="background-color: #6B6B6B;">
{% block content %}{% endblock %}
<script src="/static/js/button.js"></script>
</body>
</html>